---
// src/pages/index.astro
// Importamos los componentes necesarios
import Layout from '../layouts/Layout.astro';
import MatrixBackground from '../components/MatrixBackground.astro';

---
<div class="bg-transparent">
  demo
</div>
